layout {
    pane split_direction="vertical" {
        pane command="python3" {
	     args "display.py" "-m" "-n" "2" "-p" "9000"
	}
        pane command="python3" {
	     args "display.py" "-m" "-n" "2" "-p" "9001"
	}
    }
    pane start_suspended=true borderless=true size=3 command="bash" {
    	 args "-c" "python3 ./player.py 0 9000 9001 & python3 ./player.py 1 9001 9000"
	 focus true
    }
}
